<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h2 class="text-white bg-dark p-4 mb-0">Sign up</h2>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field text-center">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class: "name" %>
        </div>
        <div class="field text-center">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "email" %>
        </div>
        <div class="field text-center">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "password" %>
        </div>
        <div class="field text-center">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "password_confirm" %>
        </div><br>
        <div class="actions">
          <%= f.submit "Sign up" ,class: 'btn btn-lg btn-block btn-success' %>
        </div>
      <% end %>
      <div class="text-right"><%= render "devise/shared/links" %></div>
    </div>
  </div>
</div>